@import "~bootstrap/scss/bootstrap";

a{
    text-decoration: none;
}

.text{
    color: #44006b;
}

body{
  background-image: url("../imagenes/wallpaper.jpg");
  height: 100vh;
  
}


/*.container {
  background-color: #9E00FF;
  margin: 0 auto;
  box-shadow: 2px 2px 2px 2px #9E00FF;


}
*/
.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  //background-color: #9E00FF;
  right: 0;
  z-index: -1;
}


.white-color{
  color: white;
  text-align: center;
}


.transparent-bottons{
  background-color: transparent;
  border: 0px;
}

.table-responsive {
  max-height: 200px;
  overflow: scroll;
}

a::after{
  content: " ";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all .8s;

}

a:hover:after{
  width: 100%;
  background: #333;
}

.botones{
  border: 1px;
  border-radius: 5px;
  background-color: #4CAF50;
  font-weight: bold;
  padding: 5px 15px;
}


.botones:active{
  background-color: #3e8e41;
  transform: translateY(4px);
}


.barra-inferior{
  list-style: none;
  display: flex;
  margin: 0;
}


.logos{
  font-size: 25px;



}


.botones-cierre{
  background-color: red;
  border-radius: 5px;
  border: 0px;
  color: white;
  width: 45px;
}

.botones-cierre:active{
  transform: translateY(4px);
}

.cardDiscoteca{
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.1);
  background-position: center;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 5px;
}

.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #000000 solid;
}

.row-striped {
    padding: 15px 0;
}

.color-negro{
  color: black;
}

#map {
  position: absolute;
  top: 50%;
  bottom: 0;
  height: 50%;
  width: 80%;
 
}

#logotipoPagina{
  width: 60px;
  height: 60px;
}


.cuponesDiscoteca{
  border-radius: 1px solid white;
  
}

.transparent{
  opacity: 0;
  color: white;
}
/*
header{
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
background-color: #9E00FF;
}
*/

.imagenes{
  width: 13rem;
}
